.wrapper {

}

.header-wrapper {

}

.header-wrapper a {
  
  text-decoration: none;
}

.header-wrapper h1 {
  background: url('/assets/gg_logo.jpg') no-repeat center left;
  color: #e97927;
  font-size: 14px;
  padding-left: 212px;
  text-transform: uppercase;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.to-do-list {
  max-width: 850px;
  margin: 40px auto;
  text-align: left;
}

.to-do-list li {
  margin: 8px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
